body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.align{
    text-align: justify;
}

h1{
    font-size: 50px;
}

.color{
    color: orange;
}
section{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    
}
.Link-button{
    text-decoration: none;
    background-image:linear-gradient(to left, orange,tomato);
    
    padding: 10px 40px;
    color: white;
    font-weight: 500;
    border-radius: 5px;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
